@keyframes myChange {
    from {
        width: 250px;
    } to {
        width: 0;
    }
}
@keyframes myChange1 {
    from {
        width: 0px;
    } to {
        width: 250px;
    }
}

.animate-show-hide.ng-hide {
  animation: 1.5s myChange;
}
.animate-show-hide.ng-hide-remove {
  animation: 0.5s myChange1;
}

.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: var(--night-rider);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 14px;
  }
  
  .sign svg path {
    fill: var(--af-white);
  }
  /* text */
  .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--af-white);
    font-size: 1em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 5px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

  #sidebar{
      height: 100%;
      color: white;
      overflow-x: hidden;
      transition: 0.3s;
  }

  .sidebar {
    width: 0;
    transition: width 0.3s ease; /* Smooth transition for width */
  }
  
  .sidebar.open {
    width: 200px; /* Sidebar width when open */
  }

  .menu-trigger {
    cursor: pointer;
    padding: 10px;
    color: #456894;
  }
  .menu-close {
    cursor: pointer;
    text-align: right;
    padding: 10px 10px 0 0;
  }
  
  .side-menu {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 250px;
    background: #456894;
  }
  
  .menu-item {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
    width: 100%;
    cursor: pointer;
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      color: #c1c1c1;
    }
  }
  
  .gg-push-chevron-right-o {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 100px;
  }
  .gg-push-chevron-right-o::after,
  .gg-push-chevron-right-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 8px;
    border-right: 2px solid;
    top: 5px;
    right: 5px;
  }
  .gg-push-chevron-right-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    right: 9px;
    top: 6px;
  }
  
  .gg-push-chevron-left-o {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid;
    border-radius: 100px;
  }
  .gg-push-chevron-left-o::after,
  .gg-push-chevron-left-o::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 2px;
    height: 8px;
    border-left: 2px solid;
    top: 5px;
    left: 5px;
  }
  .gg-push-chevron-left-o::after {
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    transform: rotate(45deg);
    left: 9px;
    top: 6px;
  }
 

 